header {
  background-color: rgba(174, 126, 208);
  padding: 10px 0;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  text-align: center; /* Opcional: para alinear texto dentro del header */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el logo verticalmente */
}

img {
  max-width: 100px;
  height: auto;
}



header h1{
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
  text-shadow: -1px 2px 2px rgba(157,36,36,0.6);
}

body{
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: "2e64a1";
  font-weight: 400;
}

footer{
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}